/* .fruit-table,
.vegetable-table,
.flower-table {
  border-collapse: collapse;
  border: 1px solid black;
}

.fruit-table td,
.vegetable-table td,
.flower-table td {
  padding: 8px;
  border: 1px solid black;
}

.ff {
  text-align: center;
}
.btn1, .btn2, .btn3 {
  position: relative;
  top: 20px;
  right: 20px;
  background-color: coral;
  color: white;
  font-weight: 700;
  padding: 10px;
  margin: 5px;
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.card{
  display: inline-block;
  border: 2px solid lightcyan;
  background-color: lightskyblue;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}
.cardbutton{
  color: white;
  height: 20px;
  position: relative;
  text-align: center;
  margin: 10px;
  padding: 10px;
} */
/* .cards{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 13px;
  margin: 75px;
  gap:35px;
  
}
.items{
  border:1px solid black;
  width:29%; 
  height:450px;
} */
/* .items:hover{
  scale:0.9
} */
/* .img{
  position: relative;
  left:90px;
  border-radius: 5px;
}
.name{
  color: orange;
  font-size: x-large;
  margin: 10px;
  position: relative;
  left: 15px;
}
.cuisine{
  color: darkslateblue;
  position: relative;
  left:90px;
  font-size: 20px;
}
.type{
  color:olivedrab;
  position: relative;
  left:90px;
  font-size: 20px;
}
.rest{
  color: firebrick;
  text-align: center;
}
.btns{
  position: relative;
  top:40px;
  left:-60px;
} */
/* .added{
  color: darkslateblue;
  position: relative;
  left:150px
}
.add{
  margin-top: -100px;
  color: cornflowerblue;
  text-align: center;
  font-weight: bolder;
}
.update{
  color: cornflowerblue;
  font-weight: bolder;
  text-align: center;
}
.btns{
  color: aliceblue;
  font-weight: bold;
  background-color: deeppink;
  height: 40px;
  width:60px;
  margin: 2px;
}
.btnss{
  color: aliceblue;
  font-weight: bold;
  background-color: darkolivegreen;
  height: 40px;
  width:90px;
  margin: 20px;
  
} */
/* body{
  background-color:darkslateblue;
} */
/* .columns{
  height: 50px;
  background-color: palevioletred;
 color:white;
}
.rows{
 position: relative;
 left:600px;
 top:200px;
 width: max-content;
 background-color: palevioletred;
 color:white;
 height: 50px;
width:200px;
text-align: center;
}
label{
  font-size: xx-large;
  font-weight: bold;
  color:white;
}
label:focus{
  color:white;
  font-weight: 900;
}
#exampleInputEmail1{
  position: relative;
  left:660px;
  top:100px;
  padding: 10px;
  margin: 5px;
  background-color: chocolate;
  color:white
}
#exampleInputPassword1{
  position: relative;
  left:630px;
  top:100px;
  padding: 10px;
  margin: 5px;
  background-color: chocolate;
}
label{
  position: relative;
  left:650px;
  top:100px;
  font-size: large;
}
#pwd{
  position: relative;
  left:620px;
  top:100px;
  font-size: large;
}
button{
  position: relative;
  left:750px;
  top:130px;
  font-size: large;
  background-color: darkslateblue;
  color: aliceblue;
}
h1{
 position: relative;
 top:50px;
 left:650px;
  color: azure;
} */
/* body{
  background-color: black;
} */
/* .cards{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  margin: 75px;
  gap:40px;
  
} */
/* .items{
  border:1px solid black;
  width:29%; 
  height:500px;
  padding: 5px;
  background-color: lavenderblush;
} 
.image{
  position: relative;
  left:90px;
  border-radius: 10px;
}
.top{
  position: relative;
  left:500px;
  margin: 15px;
  margin-top: 80px;
  padding: 15px;
  font-size: x-large;
  color: azure;
  font-weight: 600;
  background-color: darkslategray;
}
.title{
  text-align: center;
  color: darkslategray;
  font-size: larger;
}
.count{
  text-align: center;
  color: darkslategray;
  font-size: large;
}
.total{
  text-align: center;
  color: darkslategray;
  font-size: large;
}
.price{
  text-align: center;
  color: darkslategray;
  font-size: x-large;
}
.add{
  position: relative;
  left:130px;
  color: darkslategray;
  font-size: x-large;
  margin:20px

}
.del{
  position: relative;
  left:150px;
  color: darkslategray;
  font-size: x-large;
}
.totall{
  font-size: xx-large;
  position: fixed;
  color:darkslateblue;
  background-color: aliceblue;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
 
} */
body{
  background-color: black;
}

table,tr,th,td{
  text-align: center;
  border:2px solid black;
  border-collapse: collapse;
  margin: 10px;
}
table{
  position: relative;
  left:500px;
  top:40px;
  color: white;
  font-size: x-large;
  background-color: darkgoldenrod;
}
form{
  background-color: darkslateblue;
  color: aliceblue;
  font-weight: bold;
}
.btn1{
  color: aliceblue;
  background-color:darkslateblue ;
  font-weight: bold;
  height: 40px;
  width: 70px;
  font-size: large;
}
h2{
  color:white;
  background-color: darkgoldenrod;
  width: fit-content;
  text-align: center;
}
