.fruit-table,
.vegetable-table,
.flower-table {
  border-collapse: collapse;
  border: 1px solid black;
}

.fruit-table td,
.vegetable-table td,
.flower-table td {
  padding: 8px;
  border: 1px solid black;
}

.ff {
  text-align: center;
}
